@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background-color: #EDEDED;
}
.app_logo{
    font-family: "Jomhuria";
    color: #474444;
    font-size: 70px;
    font-weight: 400;
    margin-left: 31px;
    margin-top: 17px;
}
.menu_option{
    color: #474444;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    /* margin-left: 31px; */
    background-color: #FFFFFF;
    border: none;
    margin: 22px 0 22px 31px ;
    cursor: pointer;
    
}
/* .menu_option:hover{
    filter: drop-shadow( 0 0 5px #b9b9b9);
} */
.menu_items{
    position:absolute;
    top: 35vh;
    /* margin-top: 150px; */
}
.logout_btn{
    font-weight: 700;
    /* margin-top: 230px;
    margin-bottom: 0; */
    position: absolute;
    top: 53vh;
    width: 120px;
    padding-top: 15px;
    left: 0;
    border-top: 1px solid #474444;
    text-align: center;

}
.menubar{
    width: 193px;
    height: 100vh;
    background-color: #FFFFFF;
    filter: drop-shadow(3px 0px 0px #cfcece);
    position: fixed; /* Add this line to make the sidebar sticky */
    top: 0; /* Ensure the sidebar stays at the top of the viewport */
    left: 0; /* Ensure the sidebar stays at the left of the viewport */
}
.dashboard_container{
    /* background-color: #EDEDED; */
    display: flex;
    margin-left: 193px;
}
.selected_option{
    filter: drop-shadow( 0 0 5px #b9b9b9);
}
.analysis_heading{
    font-family: "Poppins";
    font-size: 50px;
    color: #5076FF;
    text-align: center;
    font-weight: 600;
}
.analysis_container{
    width:86vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quiztable_firstrow{
    display: flex;
    background-color: #5076FF;
    width: 925px;
    border-radius: 10px;
    height: 35px;
    align-items: center;
    color: #FFFFFF;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 16px;
    justify-content: space-between;
}
.quiztable_heading{

}